body, html {
    height: 100%;
    width: 100%;
    padding: 0 0 0;
    margin: 0 0 0;
}

.userView {
    background-color: rgba(0, 0, 0, 0.8);
}

#map {
    width: 100%;
    height: 100%;
}

#menu-tool {
    top: 5px;
    left: 5px;
    padding: 0;
    width: 56px;
    height: 56px;
}

#search-tool {
    position: fixed;
    top: 10px;
    left: 70px;
    width: 30%;
    height: 50px;
    background-color: rgba(250, 250, 250, 1);
    z-index: 9;
}

#coords-tool {
  position: fixed;
  bottom: 14px;
  right: 0px;
  background-color: rgba(250,250,250,.7);
  font-size: 11px;
  color: #4a4a4a;
  width: 150px;
  z-index: 9;
  margin-right: 0px;
  text-align: center;
}

#btnMapZoomIn {
    height: 55px;
}

#btnMapZoomOut {
    height: 55px;
}

#MenuSec {
  position: absolute;
  width: 350px;
  /*height: 400px;*/
  background-color: white;
  z-index: 9;
  border-radius: 10px;
  top: 80px;
  left: 10px;
  bottom: 50px;
  overflow-y: auto;
}

.img-status {
  width: 20px;
}
