@import './app.css'


#infoConteiner {
  overflow-y: auto;
  bottom: 5px;
  position: absolute;
  top: 127px;
  right: 10px;
  left: 5px;
}

.infopop {
  width: 450px;
  height: 200px;

  &-fecha{
    text-align: right;
  }

  &-img{
    width: 100px;
    height: 80px;
    /*border-style: solid;
    border-width: 1px;*/

    & img{
      width: 100%;
      height: 100%;
    }
  }

}
