<div id="btnMapZoomIn" class="fixed-action-btn" style="top: 85px; right: 19px;">
  <a class="btn-floating waves-effect waves-light green"><i class="material-icons">add</i></a>
</div>
<div  id="btnMapZoomOut" class="fixed-action-btn" style="top: 135px; right: 19px;">
  <a class="btn-floating waves-effect waves-light green"><i class="material-icons">remove</i></a>
</div>

<div class="fixed-action-btn horizontal" style="top: 10px; right: 10px;height: 60px;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">layers</i>
  </a>
  <ul>
    <li><a data-layer="ROADMAP" class="btnChangeLayer btn-floating yellow darken-1"><i class="material-icons">view_stream</i></a></li>
    <li><a data-layer="HYBRID" class="btnChangeLayer btn-floating orange darken-2"><i class="material-icons">terrain</i></a></li>
    <!--li><a class="btn-floating green"><i class="material-icons">streetview</i></a></li-->
  </ul>
</div>

<div id="search-tool">
  <div class="row">
    <div class="col s12">
      <input id="searchMap" placeholder="Buscar direccion:" type="text" class="validate">
    </div>
  </div>
</div>

<div id="coords-tool">
</div>
