
<div id="menu-tool" class="fixed-action-btn">
  <!--a id="btnMenu" data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a-->
  <a id="btnMenu" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a>
</div>


<div id="MenuSec">
  <ul>
    <li>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <select id="selRutas" class="" style="display: block !important;">
           <option value="" disabled selected>Selecciona una ruta</option>
         </select>
        </div>
      </div>
    </li>
    <li style="margin-top: -20px;">
      <div class="row">
        <div class="col s4">
            <div class="row" style="text-align: center;">
              <i class="material-icons zoom-layer" id="zomTrack">zoom_in</i>
              <input type="checkbox" id="layTrack" class="layer-map"/>
              <label for="layTrack">Rastreo</label>
            </div>
        </div>
        <div class="col s4">
          <div class="row" style="text-align: center;">
            <i class="material-icons zoom-layer" id="zomPlan">zoom_in</i>
            <input type="checkbox" id="layPlan" class="layer-map"/>
            <label for="layPlan">Planeado</label>
          </div>
        </div>
        <div class="col s4">
          <div class="row" style="text-align: center;">
            <i class="material-icons zoom-layer" id="zomLect">zoom_in</i>
            <input type="checkbox" id="layLect" class="layer-map"/>
            <label for="layLect">Lectura</label>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="infoConteiner">
        <div id="infoCont" class="collection">
        </div>
      </div>
    </li>
  </ul>
</div>
